{% extends 'base.html'%}
<!--영화의 상세 내용을 나타내는 페이지-->

{% block bb %}
    <div class="row my-5">
        
        <div class="col-4 d-flex justify-content-end">
            <!--영화 이미지-->
            <img src="{{movie.poster_path}}" width=300px height=400px />
            <!--영화 이미지가 없으면 대체 이미지가 나오게 함-->
        </div>
        
        <div class="col-6">
            <!--유저 정보-->
            <div class="row d-flex align-items-center">
                <h2 style="text-center">{{movie.title}}</h2>
            </div>
            <br>
            <div>
                <h5 class="mr-3">개봉일: {{movie.release_date}}</h5>
                <h5 class="mr-3">장르: {{movie.genre}}</h5>
                <h5 class="mr-3">제작사: {{movie.production_company}}</h5>
                <h5 class="mr-3">줄거리: {{movie.overview}}</h5>
                <h5><a href="{{movie.homepage}}" target="_blank">관련 홈페이지</a></h5>
            </div>
        </div>
        
        
        
    </div>
    
    <hr>
    <h3>댓글</h3>
    
    
    
    <!---->
{% endblock %}