{% extends 'base.html' %}

{% block bb %}
      
    <div class="col-md-12 p-0">
        <!--나중에 이미지 바꾸고 크기 조정해야함 & 글자 가운데 정렬-->
        <img src="../static/images/search2.jpg" style="width:100%; height:600px"  >
        <div class="carousel-caption">
            <h1 class=" text-black mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s" style="font-family: 'Playfair Display SC';text-shadow: 1px 2px gray;">Todal Movie</h1>
            <br><br><br>
            <!--영화 검색 -->
            <div class="justify-content-center">
                <form method="GET" class="d-flex justify-content-center">
                    <i class="fas fa-search fa-2x"></i>
                    <input type="text" name="searchword" value="{{searchword}}" placeholder=" 작품 제목을 검색해보세요." class="shadow-lg rounded border border-dark w-75 p-2" style="font-family: 'Noto Sans KR', sans-serif;">
                </form>
            </div>
        </div>
    </div>
    
        <!--영화 목록-->
    <div class="container">
        
        <h2 class="text-center mt-5" style="font-family: 'Playfair Display SC';text-decoration: underline; "><b>movie list</b></h2>
        <br><br><br>
        <div class="row border border-dark my-3">
        {% for movie in movies %}
            <div class=" col-md-4 col-lg-3 my-3" >
                <div class="d-flex justify-content-center mt-4"> 
                    <a href="{% url 'movies:detail' movie.id %}">
                        <img src="{{movie.poster_path}}"class="card-img-top" alt="..." style="height:305px; width:200px" id="mainImg" >
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center" ><strong>{{movie.title|truncatechars:15}}</strong></h6>
                    <hr>
                </div>
            </div>
        {% endfor %}
        </div>
        
        <!--pagination-->
        <nav aria-label="Page navigation example">
            <ul class="d-flex justify-content-center my-4">
                <h5>Page {{ movies.number }} of {{ movies.paginator.num_pages }}.</h5>
            </ul>
            <ul class="pagination justify-content-center text-dark">
            {% if movies.has_previous %}
                <li class="page-item">
                  <a class="page-link text-dark" href="?page={{ movies.previous_page_number }}">previous</a>
                </li>
            {% endif %}
                <li class="page-item"><a class="page-link text-dark" href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link text-dark" href="?page=2">2</a></li>
                <li class="page-item"><a class="page-link text-dark" href="?page=3">3</a></li>
                <li class="page-item"><a class="page-link text-dark" href="?page=4">4</a></li>
                <li class="page-item"><a class="page-link text-dark" href="?page=5">5</a></li>
            {% if movies.has_next %}
                <li class="page-item">
                  <a class="page-link text-dark" href="?page={{ movies.next_page_number }}">Next</a>
                </li>    
            {% endif %}
            </ul>
        </nav>
        
        <!--부트스트랩으로는 안되서  style 로 했음-->
        <!--<div class="mx-auto fixed-bottom p-3 d-flex justify-content-end">-->
        <div class="" style="position:fixed;right:30px;bottom:30px">
            <a href="#" class="float-right text-dark" ><i class="fas fa-arrow-up fa-2x"></i></a>
        </div>
    </div>
{% endblock %}
