{% extends 'base.html' %}

{% block bb %}
    <!--작품, 제목,배우,감독으로 원하는 영화를 검색-->
    <form action="{% url 'movies:search'%}" method="GET">
    {% csrf_token %}
    <input type="text" name="searchword" value="{{searchword}}">
    <input type="submit", value="영화제목을 입력하세요">
    </form>
    
    <!--resultMovie에 데이트가 있다면 영화 딕셔너리 출력 후 디테일 링크 -->
    {% if resultMovie %}
        {% for rm in resultMovie %}
            {{rm}}
            <li>
                <a href="#">{{rm}}</a>
            </li>
        {% endfor %}
    {% else %}
        <!--resultMovie가 빈 리스트라면 이름을 입력해달란 메세지, -->
        <p>영화이름을 입력해주세요.
    {% endif %}
        
{% endblock %}