{% extends 'base.html' %}
{% block bb %}
        <div class="col-md-12 p-0">
            <img src="/static/images/search2.jpg" style="width:100%; height:600px" class="img-responsive" >
              <div class="carousel-caption">
              <h1 class=" text-black mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s" style="font-family: 'Playfair Display SC'">Todal Movie</h1>         
                <br><br><br>
                <div class="justify-content-center">
                    <form action="{% url 'movies:search'%}" method="GET">
                    <i class="fas fa-search fa-2x"></i>
                    <input type="text" name="searchword" value="{{searchword}}" placeholder="작품 제목을 검색해보세요." class="shadow-lg rounded border border-dark w-75 p-2" style="font-family: 'Noto Sans KR', sans-serif;">
                    </form>
                </div>
            </div>
        </div>
        
    <div class="container">
        <br>
        {% if resultMovie %}
            <ul>
            <h2 class="fontchange" style="font-family: 'Noto Sans KR', sans-serif;"><strong>검색결과</strong></h2><br>
            {% for rm in resultMovie %}
                <a class="h5 text-dark" style="font-family: 'Noto Sans KR', sans-serif;" href="{% url 'movies:detail' rm.id %}">{{rm.title}}</a>
                <br><br>
            {% endfor %}
            </ul>
        {% else %}
            <ul>
            <h3 class="fontchange"style="font-family: 'Noto Sans KR', sans-serif;"><strong>검색 결과가 없습니다.</strong></h3>
            </ul>
        {% endif %}
    </div>       
{% endblock %}